/* Hosted fonts */
@font-face {
  font-family: 'Red Hat Text';
  src: url('../fonts/RedHatText-Regular.woff2') format('woff2'),
    url('../fonts/RedHatText-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('../fonts/RedHatText-SemiBold.woff2') format('woff2'),
    url('../fonts/RedHatText-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('../fonts/RedHatText-Bold.woff2') format('woff2'),
    url('../fonts/RedHatText-Bold.woff') format('woff');
  font-weight: 700;
}
