/* Hosted fonts */
@font-face {
  font-family: 'Red Hat Text';
  src: url('../fonts/RedHatText-regular.woff2') format('woff2'),
    url('../fonts/RedHatText-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('../fonts/RedHatText-SemiBold.woff2') format('woff2'),
    url('../fonts/RedHatText-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('../fonts/RedHatText-bold.woff2') format('woff2'),
    url('../fonts/RedHatText-bold.woff') format('woff');
  font-weight: 700;
}
